<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="/static/css/signup.css">
</head>

<body style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/static/img/night.png);">
  <div>
    
  <!-----------main body------------->
  <form action="" id="sign_form">
  <div>
    <h1 id="h1">Sign In</h1>
  </div>
   <!------user name -------->
  <br>
  <div class="user-box">
    <input type="text" required>
    <label for="">Username</label>
</div>
  <br>
  <!----------password-------->
  <div class="user-box">
    <input type="text" required>
    <label for="">Password</label>
</div>
  <!--------email--------->
  <br>
  <div class="user-box">
    <input type="text" required>
    <label for="">E-mail</label>
</div>
  <!---------term&condition--------->
 <br>
  <div style="color: #fff; font-weight: 100;">
    <input type="checkbox"> i accept terms and conditions
  </div>
  <br>
  <div style="color: #fff; font-weight: 100;">
    already have a account,<a href="login.html" style="color: rgb(0, 81, 255); text-decoration: none;">login</a>
  </div>
  <br>
  <br>
    <!--Tab to edit-->
  
  <!---------submit---------->
<div id="scbtn">
  <a href="login.html" id="signbtn">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    submit
  </a>
  <a href="index.html" id="cancelbtn">
    <span></span>
    <span></span>
    <span></span>
    <span></span>cancel
 </a>
 </div>
</form>
</div>
</body>
</html>